{
	"root": true,
	"env": {
		"browser": true,
		"node": true,
		"es2021": true
	},
	"plugins": ["@typescript-eslint"],
	"extends": [
		"react-app",
		"react-app/jest",
		"airbnb",
		"airbnb-typescript",
		"airbnb/hooks",
		"plugin:tailwindcss/recommended",
		"prettier"
	],
	"rules": {
		"react/react-in-jsx-scope": "off",
		"react/require-default-props": "off",
		"react/function-component-definition": "off"
	},
	"overrides": [
		{
			// TS FILE PARSING
			"files": ["src/**/*.ts?(x)"],
			"parserOptions": {
				"project": ["./tsconfig.json"]
			}
		}
	]
}
